<!-- (*) classes assigned or controller -->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-drag" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content>
        <!-- *controller MenuActiveCtrl /  active items menu -->
        <ion-side-menu side="right" expose-aside-when="large" ng-controller="MenuActiveCtrl">
        <!-- button in header-bar -->
         <!--<ion-header-bar>
         <button class="button button-icon icon ion-ios-compose-outline"></button>
        </ion-header-bar>-->
        <ion-content>
            <ul class="list">
                <!-- item-avatar user with status -->
                <a class="item item-avatar" nav-clear>
                    <img src="img/user.jpg">
                    <h2>Agent Smith</h2>
                    <p>Badge #1</p>
                </a>
                <a class="item item-icon-left" ng-class="{active:isActive('/app/home-base')}" nav-clear menu-close href="#/app/home-base">
                    <i class="icon ion-home"></i>Home Base
                </a>   
                <a class="item item-icon-left" ng-class="{active:isActive('/app/activity-feed')}" nav-clear menu-close href="#/app/activity-feed">
                    <i class="icon ion-ios-bell"></i>Activity Feed
                </a>                
                <!-- menu items  with style active, inactive on off -->
                <a class="item item-icon-left" ng-class="{active:isActive('/app/agent-assets')}" nav-clear menu-close href="#/app/agent-assets">
                    <i class="icon ion-clipboard"></i>Agent Assets
                </a>
                <a class="item item-icon-left" ng-class="{active:isActive('/app/garage-sale')}" nav-clear menu-close href="#/app/garage-sale">
                    <i class="icon ion-ios-list"></i>Garage Sale
                </a>        
                <a class="item item-icon-left" ng-class="{active:isActive('/app/furnish-farm')}" nav-clear menu-close href="#/app/furnish-farm">
                    <i class="icon ion-bowtie"></i>Furnish Farm
                </a>                
                <a class="item item-icon-left" ng-class="{active:isActive('/app/sir-austin-u')}" nav-clear menu-close href="#/app/sir-austin-u">
                    <i class="icon ion-university"></i>Sir Austin U
                </a>                
                <!-- menu items  with style active, inactive on off -->


 
                <a class="item item-icon-left" ng-class="{active:isActive('/app/recruitment')}" nav-clear menu-close href="#/app/recruitment">
                    <i class="icon ion-speakerphone"></i>Recruitment
                </a>                
                <a class="item item-icon-left" ng-class="{active:isActive('/app/secure-line')}" nav-clear menu-close href="#/app/secure-line">
                    <i class="icon ion-ipad"></i>Secure Line
                </a>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
